<div class="container">
  <h1>トランプ管理</h1>
  <br>
  <%= @players.each do |player| %>
    
    <div class = "list">
      <%= render 'trumps/list', cards: @cards %>
    </div>
  <% end %>
  <div class = "new_player">
    <%= link_to "＋",player_path class: 'btn',method: :post, remote: true %>
  </div>
</div>
