<div class="container">
  <h1>トランプ管理</h1>
  <br>
  <%= @players.each do |player| %>
    
    <div class = "list">
      <%= render 'trumps/list', cards: Trump.where(player_id: player.id) %>
    </div>
  <% end %>
  <div class = "new_player">
    <%= link_to "＋",player_path, class: 'btn btn-outline-dark',method: :post, remote: true %>
  </div>
</div>
